{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center; margin-top: 50px;">Bienvenido, elija una función de la barra de navegación.</h1>
<h4 style="text-align: center; margin-top: 2rem; width: 50%; margin-left: 25%;"> 
<p>
    Esta es una aplicación de La empresa Tecnologías Chapinas, S.A. que permite analizar el contenido de diversas redes sociales y establecer el sentimiento de los usuarios respecto a una empresa y servicios que poseen, que se pueden realizar ubicando la barra de navegación.
</p>
<p>
    
</p>
</h4>
{% endblock content %}